body {
    padding-top: 50px;
    padding-left: 100px;
}
/*'#002640', '#004C7F', '#0072BF', '#0099FF'*/

body {
    padding-top: 20px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.dot {
    fill: #002640;
    fill-opacity: 1;
    stroke: #002640;
}

.active {
    fill: #0099FF;
    fill-opacity: 0.5;
    stroke-width: 3px;
}

.axis path, .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
text{
    fill:#ccc;
}