earth{
    display: block;
    height: 100%;
    width: 100%;
}

earth .arc {
    fill: none;
    stroke: red;
    stroke-width: 3px;
    stroke-linecap: round;
}

earth svg{
    position: relative;
}

earth .ping {
    position: absolute;
    border-radius: 55px;
    transform: scale(.9);
    -webkit-transform: scale(.25);
    -webkit-transform-origin: center;
    animation-iteration-count: infinite;
    -webkit-transform-origin: center;
    border: solid #666 3px;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: ping;
}
