earth {
    display: block;
    height: 100%;
    width: 100%;
}

earth .circle {
    fill: #666;
    /*stroke: #ff10ed;*/
    stroke-width: 2px;
    stroke-linecap: round;
}

earth svg {
    position: relative;
}

earth .ping {
    border-radius: 55px;
    transform: scale(.9);
    -webkit-transform: scale(.25);
    -webkit-transform-origin: center;
    -webkit-transform-origin: center;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: ping;
}

earth .boundary {
    stroke: #efefef;
    stroke-width : .5 px;
    fill: #222;
}

earth .land {
    fill: #222;
}

earth .graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .5;
    stroke-width: .5px;
}

earth .outline {
    fill: none;
    stroke: #000;
    stroke-width: .5px;

}

.box {
    width: 1800px;
    height: 900px;
}