<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">

<title>drop Down</title>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/main.js"></script>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css?v=1.0">

<script>
    var mainApp = angular.module('mainApp', ['ui.bootstrap']);

    mainApp.controller('mainCtrl', function ($scope, $timeout) {
        $scope.item = {};

        $scope.locations = [
            {    name: 'Antarctica'
            },
            {    name: 'Europe',
                children: [
                    {    name: 'Italy',
                        children: [
                            {name: 'Rome'},
                            {name: 'Milan',
                                children: [
                                    {name: 'West Side'},
                                    {name: 'East Side'}
                                ]}
                        ]},
                    {    name: 'Spain'}
                ]
            },
            {    name: 'South America',
                children: [
                    {    name: 'Brasil'   },
                    {    name: 'Peru' }
                ]
            },
            {    name: 'North America',
                children: [
                    {    name: 'United States'   },
                    {    name: 'Canada' }
                ]
            },
            {    name: 'Africa',
                children: [
                    {    name: 'Morocco'   },
                    {    name: 'Algeria' },
                    {    name: 'Libya' },
                    {    name: 'Egypt' },
                    {    name: 'Sudan' },
                    {    name: 'Eritrea' }
                ]
            }
        ];

        $scope.isCollapsed = true;

    });

    mainApp.directive('dropDown', ['$compile', '$timeout', '$parse', function ($compile, $timeout, $parse) {
        return {
            restrict: "E",
            scope: {
                ngModel: '=',
                data: '=',
                config: '='
            },
            link: function (scope, element, attrs) {
                var config = {
                    idField: null
                };

                angular.extend(config, scope.config);

                var currentStep = 0;
                var slideNumber = 0;
                var buttonConfig = {inputs: {back: false, search: false}};
                scope.steps = [];
                scope.isCollapsed = true;


                var group = angular.element("<div class='isDropDown' collapse='isCollapsed'></div>");
                $compile(group)(scope);
                element.append(group);

                var list = angular.element("<div ng-repeat='item in data'>" +
                        "<div ng-hide='item.inputs.back===false' class='isDropDownItem' ng-click='handleClick(item)'>" +
                        "{{item.name}}" +
                        "<i ng-if='item.hasChild' class='glyphicon glyphicon-chevron-right pull-right'></i>" +
                        "</div>" +
                        "</div>");
                $compile(list)(scope);
                group.append(list);

                var button = angular.element("<button class='btn btn-default isDropDownBtn' ng-click='isCollapsed = !isCollapsed'>countries</button>");
                $compile(button)(scope);
                button.insertBefore(group);

                var mapData = function (thingToMap, button) {
                    if (angular.isUndefined(thingToMap[0].inputs)) {
                        thingToMap.unshift(button);
                    }

                    thingToMap.map(function (i) {

                        if (angular.isObject(i)) {
                            angular.forEach(i, function (values, itt) {
                                if (angular.isArray(values)) {
                                    i.children = values;
                                    i.hasChild = true;
                                }
                            });
                        }
                        return i;
                    });
                };

                var getId = $parse(config.idField);

                scope.updateNgModel = function (value) {
                    if (config.idField) {
                        scope.ngModel = getId(value);
                    } else {
                        scope.ngModel = value;
                    }
                };

                mapData(scope.data, buttonConfig);

                scope.handleClick = function (clickedItem) {
                    if (angular.isDefined(clickedItem.children)) {
                        scope.openChild(clickedItem.children);
                    } else if (angular.isDefined(clickedItem.inputs)) {
                        scope.closeChild();
                    } else {
                        scope.updateNgModel(clickedItem);
                        scope.isCollapsed = true;
                    }
                };

                scope.getOption = function (option) {
                    if (config.idField) {
                        return config.idField(option);
                    } else {
                        return option;
                    }
                };

                scope.openChild = function (children) {
                    if (children) {
                        element.find(".dropDownChildStartPosition").remove();

                        scope.steps.push(children);
                        scope.slideClass = "dropDownChild";

                        var list = angular.element("<div ng-class='slideClass'><div ng-repeat='item in steps[" + slideNumber + "]'>" +
                                "<div class='isDropDownItem' ng-click='handleClick(item)'>" +
                                "<span>{{item.name}}</span>" +
                                "<div ng-if='item.inputs.back'><i class='glyphicon glyphicon-chevron-left'></i> Back</div>" +
                                "<i ng-if='item.hasChild' class='glyphicon glyphicon-chevron-right pull-right'></i>" +
                                "</div>" +
                                "</div></div>");
                        $compile(list)(scope);
                        group.append(list);

                        mapData(scope.steps[slideNumber], {inputs: {back: true, search: false}});

                        $timeout(function () {
                            list.addClass("dropDownChildEndPosition");
                            list.addClass(currentStep + "-slide");
                        });
                        currentStep++;
                        slideNumber++;
                    }
                };

                scope.closeChild = function () {
                    var slide = element.find("." + currentStep + "-slide");
                    currentStep--;
                    slide.addClass("dropDownChildStartPosition");
                };
            }
        };
    }]);


</script>

<style type="text/css">
    .isDropDown {
        max-width: 300px;
        position: absolute;
        min-width: 300px;
        overflow-x: hidden;
    }

    .dropDownChild {
        background-color: #fff;
        position: absolute;
        z-index: 100;
        width: 300px;
        top: 0;
        left: 300px;
        height: 100%;

    }

    .dropDownChildEndPosition {
        transition: left 1s;
        left: 0;

    }

    .dropDownChildStartPosition {
        transition: left 1s;
        left: 300px;

    }

    .isDropDownItem {
        background-color: #fff;
        height: 50px;
        font-size: 14px;
        padding: 15px;
        border-bottom: 1px solid #ccc;

    }

    .isDropDownBtn {
        height: 50px;
        padding: 15px;
        font-size: 14px;
        min-width: 300px;
        border: 0;
        border-bottom: 1px solid #ccc;

    }
</style>
</head>
<body ng-app="mainApp">
<div ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <drop-down data='locations' ng-model='item'></drop-down>{{item}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>