<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>d3</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="js/main.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
<div ng-app="myApp">
    <div class="container-fluid" ng-controller="ctrl">
        <div class="row">
            <div class="col-lg-3"><!--understanding ngAnimate-->
                <div class="well">
                    <button class="btn" ng-click="change=!change">animate</button>
                    <div ng-if="change" class="toggle-class">
                        <div class="alert alert-success" role="alert">Animation ng if.</div>
                    </div>
                    <div ng-hide="change" class="toggle-hide">
                        <div class="alert alert-success" role="alert">Animation ng hide.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <!--understanding the = on a directive-->
                <div class="well">
                    <!--below test is passed in as an item on scope.test on the controller-->
                    <one-t item="scopeValue"></one-t>
                    <!--//below test is being passed in as a string-->
                    <one-t item="'Value passed in from Directive One'"></one-t>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well">
                    Using Transclude zippy<hr>
                    <input type="text" ng-model="model.title">
                    <input type="text" ng-model="model.content">
                    <zippy title="{{model.title}}"> Content is{{model.content}}</zippy>
                    <hr>
                    Compile
                    <password></password>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well">
                    Video<hr>
                    <video-player></video-player>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <gauge-chart value="chart2.value" total="chart2.total" config="chart2.config"></gauge-chart>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well">
                    <input ng-model="people[0].Emails">
                    <spider-chart data="people" config="config" keys="keys"></spider-chart>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <div id="chartArea"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well">
                    <button class="btn" onclick="update()">Update</button>
                    <div id="bubbles"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well">
                    <div id="cirBar"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <div id="pie"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well">
                    <div id="pieTwo"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <button config="config" is-pop-over="isPopover" class="btn btn-default">Top</button>
                    <button config="config2" is-pop-over="isPopover" class="btn btn-default">bottom, click me</button>
                    <button config="config3" is-pop-over="isPopover" class="btn btn-default">left</button>
                    <button config="config4" is-pop-over="isPopover" class="btn btn-default">right</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/circleChart.js"></script>
<script src="js/barChart.js"></script>
<script src="js/bubbleChart.js"></script>
<script src="js/pieChart.js"></script>
<script src="js/pieChartTwo.js"></script>
<script src="js/isSpiderChart.js"></script>
<script src="js/isGaugeChart.js"></script>
<script src="js/zippy.js"></script>
<script src="js/videoPlayer.js">></script>
<script src="js/popUp.js">></script>
</body>
</html>